* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Raleway', sans-serif;
  color: #33373c;
  background: white;
  /* margin-top: 10px; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
  text-decoration: none;
}

.shadow {
  -moz-box-shadow:    0px 3px 15px 6px #7a7a7a;
  -webkit-box-shadow: 0px 3px 15px 6px #7a7a7a;
  box-shadow:         0px 3px 15px 6px #7a7a7a;
}


/* Top Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  transition: .5s;
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
}

nav #logo {
  height: 100%;
  float: left;
  align-content: center;
  justify-content: left;
  font-weight: bold;
  padding: 0;
  margin:0;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height:  40px;
  color: #33373c;
  padding: 10px 20px;
  margin: auto 10px;
  transition: .5s;
  font-weight: bold;
}

.subnav {
  display: none;
  position: absolute;
  transition: 0.5s;
  text-align: left;
}

nav a:not(#wrs_logo):hover {
  background-color: #99ffc7ff;
  /* border-radius: 15px; */
  text-decoration: none;
}

.main_nav li:hover .subnav {
  display: block;
}


/* main page */
.full {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

#parallax {
  background-image: url('../images/bg_placeholder.jpg');
  background-size: cover;
  border-bottom: 1px solid #30ff8dff;
}

#headline h1 {
  padding-top: 3vh;
  font-size: 80pt;
  color: #30ff8dff;
  text-shadow: -10px 7px 0 #33373c;
}

.heading {
  color: #30ff8dff;
  background-color: #33373c;
  font-size: 36pt;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

.lineup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product_blob {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  border: 1px solid #30ff8dff;
}

.product_blob img {
  width: 200px;
  height: 200px;
}

.product_blob h6 {
  font-size: 12pt;
  color: #33373c;
  width: 200px;
  text-align: center;
}

.pic-display {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #30ff8dff;
}

.green-blurb {
  background-color: #30ff8dff;
}

.title-blurb {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title-blurb h4 {
  text-align: center;
  font-size: 36pt;
  font-style: italic;
  margin-bottom: 30px;
}

.pic-display img {
  object-fit: cover;
  width: 40vw;
  height: 80vh;
  border-right: 1px solid #30ff8dff;
}

footer {
  border-top: 1px solid #30ff8dff;
}

footer p {
  color: #33373c;
  font-style: italic;
  padding: 5px 20px;
}