:root {
  --rich-black: #050505;
  --main-teal: #1b9aaa;
  --main-bone: #DDDBCB;
  --alabaster: #F5F1E3;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Rubik', sans-serif;
  color: var(--rich-black);
  background: white;
  /* margin-top: 10px; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
  text-decoration: none;
}

.shadow {
  -moz-box-shadow:    0px 3px 15px 6px var(--rich-black);
  -webkit-box-shadow: 0px 3px 15px 6px var(--rich-black);
  box-shadow:         0px 3px 15px 6px var(--rich-black);
}


/* Top Navigation Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  transition: .5s;
  z-index: 2;
  background-color: var(--rich-black);
}

nav #logo {
  height: 100%;
  float: left;
  align-content: center;
  justify-content: left;
  font-weight: bold;
  padding: 0;
  margin:0;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height:  40px;
  /* color: white; */
  padding: 10px 20px;
  margin: auto 10px;
  transition: .5s;
  /* font-weight: bold; */
  background-color: var(--main-teal);
  color: var(--alabaster);
}

.subnav {
  display: none;
  position: absolute;
  transition: 0.5s;
  text-align: left;
}

nav a:not(#wrs_logo):hover {
  /* background-color: var(--main-teal);
  color: var(--rich-black); */
  /* border-radius: 15px; */
  text-decoration: none;
}

.main_nav li:hover .subnav {
  display: block;
}


/* main page */
.full {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

#parallax {
  background-image: url('../images/bg_placeholder.jpeg');
  background-size: cover;
  border-bottom: 1px solid var(--main-teal);
}

#headline h1 {
  padding-top: 3vh;
  font-size: 80pt;
  color: var(--alabaster);
  text-shadow: 2px 4px 3px rgba(0,0,0,1);
}

.alabaster-bg {
  margin: 0;
  padding: 20px;
  background-color: var(--alabaster);
}

.heading {
  color: var(--rich-black);
  font-size: 36pt;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

.lineup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product_blob {
  background-color: white;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

.product_blob img {
  width: 200px;
  height: 200px;
}

.product_blob h6 {
  font-size: 12pt;
  color: var(--rich-black);
  width: 200px;
  text-align: center;
}

.pic-display {
  display: flex;
  flex-direction: row;
  /* border-top: 1px solid var(--main-teal); */
}

.teal-blurb {
  background-color: var(--main-teal);
}

.bone-blurb {
  background-color: var(--main-bone);
}

.title-blurb {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title-blurb h4 {
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-blurb p {
  font-size: 14pt;
  margin: 5px;
}

.pic-display img {
  object-fit: cover;
  width: 40vw;
  height: 80vh;
  /* border-right: 1px solid #30ff8dff;
  border-left: 1px solid #30ff8dff; */
}

footer {
  border-top: 1px solid var(--main-teal);
  background-color: var(--rich-black);
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#f-logo, #li-logo, #yt-logo {
  margin: 6px;
  height: 24px;
}

#footer-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

footer h5 {
  font-size: 14pt;
  margin-bottom: 5px;
}

footer a {
  color: white;
}