<nav class="shadow">
  <div id="logo">
    <a id="wrs_logo" href="{{site.baseurl}}">
      <img src="{{site.baseurl}}/images/wrslogo.png" alt="WRS Technologies" style="height:40px;">
    </a>
  </div>

  <ul>
    <li><a href="{{site.baseurl}}">Dummy</a></li>
    <li><a href="{{site.baseurl}}">Dummy</a></li>
    <li><a href="{{site.baseurl}}">Dummy</a>
      <!-- <ul class="subnav no_scroll">
        {% for post in site.posts %}
        {% if post.layout == "landing"%}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | remove: "Guides" }}</a></li>
        {% endif %}
        {% endfor %}
      </ul> -->
    </li>
  </ul>
</nav>