---
---
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/master.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/icons/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/images/icons/site.webmanifest">

  <title>{{ page.title }}</title>
</head>

<body>
  {% include navbar.html %}
  {{ content }}
</body>

<footer>
  <div id="right-footer">
    <div id="footer-icons">
      <img id="f-logo" src="{{site.baseurl}}/images/social-icons/f.eps">
      <img id="li-logo" src="{{site.baseurl}}/images/social-icons/li.png">
    </div>
    <p>
      &copy; WRS Technologies LLC 2021. All Rights Reserved.
    </p>
  </div>
  <div id="left-footer"></div>
</footer>

</html>